
/* for open map */

body {
   margin-top: 10px;
}

img {
   margin: auto;
   padding: 10px;
   display: block;
   max-width: 250px;
}

@media (min-width: 600px){
   img{
      max-width: 450px;
   }
}

a {
   cursor: pointer;
}

#next_button {
   margin-top: 5px;
   visibility: hidden;
}