/* ============================= 
0. CSS Variables of fav colours
============================= */
:root {
  --vintage: #e0eae4;
  --charcoal: #333333;
  --brown: #985f34;
  --greenDark: #274136;
  --grey: #849791;
  --ebony: #5b6359;
  --green: #265f56;
  --brownDark: #5d3621;
}

/* =============================    
    1. Structural Tags
    ============================= */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.7%;
}

body {
  color: var(--charcoal);
  background-color: var(--vintage);
}

header,
main,
footer {
  font-size: 1.5 rem;
  max-width: 95%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--charcoal);
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
  color: var(--vintage);
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-color: var(--vintage);
  background-color: var(--green);
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

a {
  color: var(--vintage);
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

/* =============================    
    2. Hero Section
    ============================= */

.hero-bar {
  background-image: url(../images/luca-bravo-O453M2Liufs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.headings {
  padding: 1rem;
  color: aliceblue;
  text-align: center;
  background-color: rgba(132, 151, 145, 0.5);
}

.display-4 {
  font-size: 5rem;
  font-weight: 500;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
}

.top-search {
  margin-bottom: 1rem;
  width: 50%;
}

/* forms */

form {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
}

input[type="text"] {
  width: 50%;
  font-size: 2rem !important;
  color: var(--vintage);
  padding: 1rem;
  margin: 1rem;
  vertical-align: middle;
  border: 0.2rem solid var(--vintage);
  box-sizing: border-box;
  background-color: var(--ebony);
  border-radius: 5px;
  /* box-shadow: 5px 5px var(--colorCharcoal); */
}

input[type="text"]:focus {
  background-color: var(--grey);
  font-size: 1.4rem;
}
::placeholder {
  color: var(--vintage);
  font-size: 2rem;
  font-style: italic;
}

/* buttons */

button,
#next_button {
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* outline: auto; */
  color: var(--vintage);
  background-color: var(--green);
  border: solid 0.2rem var(--vintage);
  border-radius: 5px;
  /* box-shadow: 0.3rem 0.3rem var(--grey); */
}

button:hover,
button:visited,
button#next_button:hover,
button#next_button:visited {
  background-color: var(--grey);
  /* box-shadow: 0.3rem 0.3rem  var(--charcoal); */
}

button:active,
button#next_button:active {
  background-color: var(--brown);
  box-shadow: 0.3rem 0.3rem var(--charcoal);
  transform: translateY(0.4rem);
}

.currBtn {
  font-size: 1.5rem;
  padding: 0.4rem;
  vertical-align: middle;
  width: 80px;
}

#next_button {
  margin-top: 1rem;
  visibility: hidden;
}

/* basic structural */

.hide {
  display: none;
}

.visible {
  display: block;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* previous search */
.search-container li {
  list-style-type: none;
  cursor: pointer;
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--vintage);
  background-color: var(--green);
  border: solid 0.2rem var(--vintage);
  border-radius: 5px;
}

.search-container li:hover {
  background-color: var(--grey);
}

/* Inspirations */
.carousel-control-next,
.carousel-control-prev {
  background-color: transparent;
  height: 25%;
  top: 50%;
  transform: translateY(-50%);
}



/* For Open Map */

.imgOpenMap {
  margin: auto;
  padding: 10px;
  display: block;
  max-width: 250px;
}

@media (min-width: 600px) {
  img {
    max-width: 450px;
  }
}

.infoDiv {
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 auto;
  text-align: center !important;
}

#searchData a {
  color: var(--greenDark);
}

#searchData a:hover {
  background-color: var(--grey);
}

.poiP p {
  margin: 20px auto !important;
  padding: 20px !important;
  font-size: 1.8rem;
  line-height: 3rem;
}

/* For Exchange Rates API */

.currForEx {
  font-size: 1.5rem;
}

.termsText {
  font-style: italic;
  font-size: 1.3rem;
}

a:link .termsURL,
a:visited .termsURL {
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;
  transition: color 0.1s;
  cursor: pointer;
}

a:hover .termsURL {
  color: var(--green) !important;
  font-size: 1.2rem;
  background-color: transparent !important;
}

a:active .termsURL {
  color: var(--green) !important;
  font-size: 1.2rem;
  background-color: transparent !important;
}

/* styling for Open Map */

a:link .list-group-item,
a:visited .list-group-heading {
  color: var(--charcoal) !important;
  font-size: 1.7rem;
  text-decoration: none;
  transition: color 0.1s;
  cursor: pointer;
}

a:hover {
  color: var(--charcoal) !important;
  font-size: 1.9rem;
  /* background-color: var(--brown) !important; */
  text-shadow: 2px 2px var(--colorCharcoal);
}

a:active {
  color: var(--vintage) !important;
  font-size: 1.9rem;
  /* background-color: var(--brown) !important; */
}

.list-group-item-heading {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.list-group-item-heading:hover,
.list-group-item-heading:active {
  color: var(--vintage) !important;
  background-color: var(--ebony) !important;
}

.active {
  color: var(--charcoal) !important;
  /* background-color: var(--brown) !important; */
}

.list-group-item-text {
  font-size: 1.4rem;
  text-align: center;
  color: var(--charcoal) !important;
}

.active,
.list-group-item-text:hover,
.list-group-item-text:active {
  color: var(--vintage) !important;
  background-color: var(--ebony) !important;
}

.carousel-img {
  width: 100% !important;
}

.carousel-heading {
  font-size: 4rem;
  background-color: rgba(132, 151, 145, 0.4);
  color: aliceblue;
}

/* For Footer  */

footer {
  margin-top: 30px;
}

.footerP {
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerCopyright {
  font-size: 1.5rem;
  margin-top: 0px;
  font-style: italic;
}

#pixabay-cont img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin: 0.5rem;
  border-radius: 5px;
}

#pixabay-cont p {
  font-size: 2rem;
}

#pixlogo {
  height: auto !important;
}

#pixlink {
  color: var(--greenDark);
  display: block;
  font-size: 2.5rem;
}

#pixlink:hover {
  background-color: var(--grey) !important;
  display: block;
  font-size: 2.5rem;
}
